body {
  font: 12px sans-serif;
  padding: 10px;
}
#input {
  height: 50px;
  width: 100%;
}
#output {
  border: lightGreen 1px solid;
  font: 14px 'Georgia';
  padding: 0 20px;
  margin: 20px 0;
}
#dump {
  margin: 20px 0;
  white-space: pre;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  border: solid 1px #ccc
}
#configs input {
  width: 20px;
  margin: 0 4px;
}
.hilight {
  font-weight: bold;
}
