body {
  font: 12px sans-serif;
}
a {
  color: cornflowerblue;
}
#map-canvas {
  height: 500px;
  width: 500px;
}
#upper {
  text-align: center;
  padding: 1em;
}
#input {
  margin-bottom: 3px;
}
#search {
  width: 15em;
  border-radius: 0.3em;
}
#twend {
  font-size: 2em;
  padding: 1em;
}
#twend span {
  display: inline-block;
}
.row {
  display: table-row;
}
.col {
  display: table-cell;
  padding-right: 1em;
}
.freq {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 7em;
}
.freq li {
  white-space: nowrap;
}
.freq img {
  vertical-align: middle;
}
.scroll {
  height: 500px;
  padding-right: 1em;
  overflow: hidden;
  overflow-y: auto;
}
.facet:hover, .hilight {
  background: lightSalmon;
  border-radius: 0.3em;
  padding: 0.15em;
}
.facet {
  cursor: pointer;
  padding: 0.15em;
}
.row {
  display: table-row;
}
.row > span {
  display: table-cell;
  vertical-align: middle;
  padding: 0.25em;
}
.note {
  text-transform: uppercase;
  font-size: 0.75em
}
.tweet:hover {
  background: #eee;
}
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
img.media {
  float: right;
  width: 100px;
  border-radius: 20px;
}
img[src*='profile_images'] {
  height: 20px !important;
  width: 20px !important;
  border-radius: 50%;
  Xbox-shadow: 1px 1px 5px gray;
}
