body {
  font: 12px sans-serif;
  padding: 10px;
}
.col {
  width: 30%;
  float: left;
  border: solid 1px #ddd;
}
#input {
  padding: 20px;
  height: 400px;
  display: block;
  box-sizing: border-box;
}
#output {
  font: 14px 'Georgia';
  padding: 1px 20px;
}
#dump {
  white-space: pre;
}
#configs input[type=text] {
  width: 40px;
  margin: 0 4px;
  text-align: center;
}
.stats {
  font: 10px sans-serif;
  color: #999;
}
.hilight {
  font-weight: bold;
}
